<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/shk/2006/server/mvc/admin.php/admin/category/add1" class="formadd" method="post">
        <label for="cod">     添加目录级别：</label>
        <select  id="opts" name="pid" id="cod"></select>
            <br>
        <label for="cname">添加目录名字</label>
        <input type="text" name="cname" id="cname">

        <br>
        <input type="submit">
    </form>
    <script src="{APP_JS}jquery.js">

    </script>

    <script  src="{APP_JS}adduer.js">
    </script>
</body>
</html>