<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href={APP_CSS}bootstrap.css>
<style>
    .pannel{
        width: 400px;
        height: 200Px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        display: none;
        border: 3px solid black;
      box-shadow: 0 0 4px #000;
        position: relative;
    }
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .hidd{
        position: relative;
        top: 30px;
        z-index: 2;
    }
</style>
<body>


查看所有用户:
<br>
<table class="table table-bordered">
    <form action="/shk/2006/server/mvc/admin.php/admin/category/add" method="post">
        <input type="text" name="cname" placeholder="一级目录">
        <input type="submit" name="">
    </form>
    {if $data}
 
  {$data}
    {/if}
</table>
<div class="pannel add1">
    <div class="close">X</div>
    <form action="/shk/2006/server/mvc/admin.php/admin/category/add" class="hidd" method="post">
        <input type="text" name="cname" >
        <input type="hidden"  name="cid" class="cid" >
        <input type="submit">
    </form>
</div>
<div class="pannel edit1">
    <div class="close edit2">X</div>
    <form action="/shk/2006/server/mvc/admin.php/admin/category/add" class="hidd" method="post">
        <input type="text" name="cname" >

        <select  id="opts" name="pid"></select>

        <input type="button" value="修改">
    </form>
</div>
<script src="{APP_JS}jquery.js">

</script>

<script  src="{APP_JS}category.js">

</script>
</body>
</html>